* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.top-left {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 200px;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg,#e52e71,#ff8a00);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Todo-list {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}


.Todo-list h1 img {
    width: 200px;
    margin-left: 10px;

}

.Todo-list h1 {
    font-size: 54px; 
    color: #0e0c0c; 
    text-align: center; 
    margin-bottom: 20px; 
    font-family: 'Arial', sans-serif; 
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px 0 0 5px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
} 

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:last-child {
    border-bottom: none;
}

.completed {
    text-decoration: line-through;
    color: #999;
}

.delete-btn {
    background-color: transparent;
    color: #999;;
    border: none;
    border-radius: none; 
    padding: 5px; 
    cursor: pointer;
    font-size: 16px;
}

